@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
/* font-family: 'Rubik Moonrocks', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
/* font-family: 'Rubik Microbe', cursive; */

/* Fuentes pantalla de ingreso */

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
/* font-family: 'Macondo', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */




/* RESET */
* {
    margin: 0;
    Padding: 0;
}



/* COLOR DE FONDO GENERAL */

body {
    background-color: #8192f0;

}



/* ESTILOS ELEMENTOS*/

a {
    text-decoration: none;
    text-decoration-color: none;
    font-size: 1.5rem;
    font-family: 'Rubik Moonrocks', cursive;
    font-style: italic;
}

h1 {
    font-size: 2rem;
}

strong {
    margin: 4px;
}

header {
    top: 0;
    position: sticky;
    background-color: rgba(155, 125, 247, 0.7);
    z-index: 100;
    font-size: 42px;
    height: 1.5em;
    width: 100%;
}


footer {
    color: antiquewhite;
    background-image: linear-gradient(to right, transparent, red, transparent);
    height: 2.5em;
    border-top: 2px white solid;
    font-size: 16pxm;
}




/*ESTILOS CLASES */

.list1 {
    margin-left: 10px;

    font-weight: bold;

    list-style-type: none;
}


.logoAlIndex {
    width: 50px;
    height: 50px;

}

.logoKon {
    width: 350px;
    height: 300px;
}

.mapaUbicacion {
    width: 600px;
    height: 450px;
}

/* AGREGANDO FLEXBOX AL HEADER */

.nav {
    border: 2px blanchedalmond solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    border-left: none;
    border-right: none;

}

.nav1 {
    display: inline-block;

}

.barraNavegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100;
}

.barraNavegacionBotones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: inline-block;
    padding-top: 3px;
}




/* AGREGANDO FLEXBOX AL INDEX - MAIN*/

.mapa {
    font-size: 15px;
    color: aliceblue;
    text-align: left;
}

.mainIndex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.divH1 {
    display: inline-block;
    text-align: center;
    text-shadow: 80%;
    color: #8192f0;
    background-image: url(../img/fondo-titulo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Rubik Microbe', cursive;
    border: 2px whitesmoke solid;
    border-left: 0;
    border-right: 0;
    width: 100%;
    font-size: 1.3rem;
    height: 42px;

}



.contenidoPrincipalElemento {
    display: inline-block;
    padding: 30px 30px 15px 10px;
    color: rgb(231, 204, 245);
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    line-height: 55px;
    font-family: 'Kaushan Script', cursive;
    font-style: oblique;
    line-height: inherit;
    place-self: center;
}

.ubicacion {
    display: flex;
    flex-flow: column nowrap;
    margin: 40px 0px 15px 15px;
    justify-content: flex-start;
}

.botonInicio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 10px 0px 10px;
    padding-right: 20px;
}

/* agregando grid al index  */

.contenidoPrincipal {
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1fr 0.8fr 1fr;
    grid-template-areas:
        "index1"
        "index2"
        "index3"
        "index4"
    ;
    box-shadow: 30px 27px 16px rgba(0, 0, 0, 0.779);
    text-shadow: 2px 2px 2px black;
    border-radius: 25px;
    padding-top: 15px;
    border: 3px rgba(0, 0, 0, 0.532) solid;
    margin-top: 15px;
    background-image: url(../img/fondo-index-png.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.index1 {
    grid-area: index1;
}

.index2 {
    grid-area: index2;
}

.index3 {
    grid-area: index3;
}

.index4 {
    grid-area: index4;
}


/* Agregando grid a historia  */

.listadoHistoria {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "historia1 historia2"
        "historia3 historia4"
    ;


}

.historia1 {
    grid-area: historia1;
}

.historia2 {
    grid-area: historia2;
}

.historia3 {
    grid-area: historia3;
}

.historia4 {
    grid-area: historia4;
}


/* AGREGANDO FLEXBOX AL HISTORIA - MAIN */

.videoHistoria {
    height: 80%;
    margin: 17% 0% 2% 15%;

}

p.historiaTexto {
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    color: blanchedalmond;
    font-weight: bold;
    line-height: 50px;

}

.contTexto {
    height: 400px;
    width: 85%;
    margin-top: 10%;
    margin-left: 12%;

}

.overflow {
    overflow: auto;
}



/* AGREGANDO FLEXBOX AL GALERIA - MAIN */






/* AGREGANDO FLEXBOX AL PRODUCTOS - MAIN */

p.video {
    color: rgb(255, 220, 220);
    font-size: 25px;
    font-weight: bold;
    line-height: inherit;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    width: 85%;
    margin: 60px;
}

.listadoProductos {
    height: auto;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "img1 texto1 "
        "texto2 img2"
        "img3 texto3 "
        "texto4 img4";
    align-items: center;

}

.enLinea {
    display: inline-block;
}


.imagenProducto {
    width: 45%;
    margin-top: 60px;
    margin-left: 100px;
    border-radius: 35px;
}





/* AGREGANDO FLEXBOX AL FOOTER */

.footer {
    display: flex;
    align-items: center;
    padding-left: 15px;
}



/* IMAGENES DE FONDO DE LOS HTML */

.index {
    background-image: url(../img/fondo-index-png.png);
    background-repeat: none;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-color: rgb(227, 139, 253);
    padding: 0;
}

.historia {
    background-image: url(../img/fondo-historia.jpeg);
    background-repeat: none;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: rgb(227, 139, 253);
    padding: 0;
}

.productos {
    background-image: url(../img/fondo-producto-png.png);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(227, 139, 253);
    padding: 0;
}

.galeria {
    background-image: url(../img/fondo-contacto-png.png);
    background-repeat: none;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: rgb(227, 139, 253);
    padding: 0;
}

.contactoFondo {
    background-image: url(../img/fondo.jpeg);
    background-repeat: none;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: rgb(227, 139, 253);
    padding: 0;
}


/* Agregando grids a la galeria  */

.listadoImagenes {

    margin-top: 65px;
    margin-bottom: 65px;
    z-index: 2;


}

p.galeriaTexto {
    font-size: 37px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(207, 185, 248);
    font-weight: bold;
    padding-top: 45px;
    text-shadow: 4px -2px 5px;
}

.imgGaleria {
    width: 100%;
    height: 100%;
    box-shadow: 15px 15px 10px rgba(28, 78, 52, 0.7);
    border: 5px whitesmoke solid;
    border-radius: 20px;

}

.listadoImagenes {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 290px);
    grid-template-areas:
        "foto1 foto1 foto4"
        "foto3 foto2 foto4"
        "foto6 foto5 foto5"
        "foto6 foto10 foto7"
        "foto9 foto10 foto12"
        "foto11 foto8 foto8";
    gap: 55px;
}

.foto1 {
    grid-area: foto1;
}

.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto5 {
    grid-area: foto5;
}

.foto6 {
    grid-area: foto6;
}

.foto7 {
    grid-area: foto7;
}

.foto8 {
    grid-area: foto8;
}

.foto9 {
    grid-area: foto9;
}

.foto10 {
    grid-area: foto10;
}

.foto11 {
    grid-area: foto11;
}

.foto12 {
    grid-area: foto12;
}

/* agregando grid contacto main */

.contactoMain {
    width: fit-content;
    display: grid;
    grid-template-columns: 0.6fr 1.2fr 1.2fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
        "con1 con2 ."
        "con3 con4 ."
        "con5 con6 ."
        "con7 con8 con8"
        ". con9 ."
        ". con10 ."
        ". con10 ."
        ". con11 ."
        ". con12 .";
    gap: 25px 20px;
    margin-top: 80px;
    margin-left: 150px;
}


.input {
    width: 90%;
    height: 50px;
    place-self: center;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 21px;
}

.con1 {
    grid-area: con1;

}

.con2 {
    grid-area: con2;
    font-size: 16px;
    width: 35em;
    font-family: 'Rubik Moonrocks', cursive;

}

.con3 {
    grid-area: con3;

}

.con4 {
    grid-area: con4;

}

.con5 {
    grid-area: con5;

}

.con6 {
    grid-area: con6;

}

.con7 {
    grid-area: con7;

}

.con8 {
    grid-area: con8;

}

.con9 {
    grid-area: con9;

}

.con10 {
    grid-area: con10;

}

.con11 {
    grid-area: con11;

}

.con12 {
    grid-area: con12;

}

.check {
    display: inline-block;
    width: 200px;
    height: 35px;
}

.contacto {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Rubik Microbe', cursive;
    place-self: center;
    text-shadow: 3px 4px 4px black;
}

.contacto1 {
    color: aliceblue;
    text-transform: capitalize;
    font-size: 31px;
    font-style: italic;
}

.comentarios {
    color: #FFE3FE;
    text-transform: capitalize;
    font-size: 45px;
    font-family: 'Rubik Microbe', cursive;

}

.loadingText {
    color: aliceblue;
}




/* colocando hover, focus y animaciones  */

.barraNavegacionBotones {
    transition: all 250ms;
}

.list1:hover {
    background-color: rgb(209, 136, 243);
}

a:hover {
    color: rgb(255, 112, 112) !important;
    ;
}

a.mapa:hover {
    font-size: 16px;
}

a.inicio {
    font-size: 21px;
    color: antiquewhite;

}

input:focus {
    background-color: rgb(145, 205, 245);
}

.focus:focus {
    background-color: rgb(145, 205, 245);
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.45);
    }
}

.imgGaleria:hover {

    animation-name: zoom;
    animation-duration: 2s;
    animation-delay: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}



/* bootstrap al nav  */

.imagen1 {
    width: 35px;
    height: 40px;
}

.colorNav {
    color: #FFE3FE !important;
}



.navegacion {
    background-color: rgb(173, 139, 253)
}

.navegacionBarra {
    background-color: rgb(136, 89, 243);
    opacity: 90%;
    height: 100%;
    top: 0;
    position: sticky;
    z-index: 100;
    border-radius: 7px;
}

.separado {
    justify-content: space-between;
}

.redondeoBordes {
    border-radius: 15px;
}



ul .dropdown-menu {
    min-width: 100%;
    background: rgba(156, 119, 243, 0);
    border: none;
}

.tamañoCarrusel {
    width: 700px;
    /* margin-left: 23.5%; */
    margin-top: 2%;
    margin-bottom: 2%;
}

.body {
    max-width: 95%;
}

.bordesFormulario {
    border-radius: 40px;
    box-shadow: 10px 5px 5px rgb(136, 89, 243);
    margin-top: 18px;
}


.botonEnviar {
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(136, 89, 243);
    margin-bottom: 100px;
}

.bordeContacto {
    border-top: 3px;
    border-bottom: 3px;
}



h1 {
    font-weight: 600;
}



/* AGREGADO PAGINA DE BIENVENIDA  */



.bodyPrincipal {
    background-image: url(../img/fondo-principal-grande.jpg);
    background-repeat: no-repeat;

    transition: all 250ms;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-name: zoom1;

    overflow: hidden;


}

.imagenDeFondo1 {
    width: 100%;
    height: 100%;
    z-index: -1;
}


.imagenbuho1 {
    width: 80%;

}

.tituloPrincipal {
    color: white;
    font-family: 'Macondo', cursive;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.parrafoBienvenida {
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.tamañoPrincipal {
    width: 35%;
    margin-right: 10%;
    text-align: -webkit-center;

}

.divPrincipal {
    margin: 12%;
    margin-top: 17%;
}

.imagenLogo2 {
    width: 17%;
}

.bloque {
    display: block;
    width: fit-content;
}

.botonPrincipal {
    background-color: rgba(220, 107, 243, 0.5);
    border-color: rgba(137, 43, 226, 0);
    font-family: 'Macondo', cursive;
    font-size: 20px;
    font-weight: bold;

}

@keyframes zoom1 {
    0% {
        transform: scale(0.6)
    }

    100% {
        transform: scale(1.2);
    }

}

@keyframes rotate {
    0% {
        transform: rotate(350deg);
    }

    50% {
        transform: rotate(365deg);
    }

    100% {
        transform: rotate(350deg);
    }
}

.animacionBuho {
    transition: all 250ms;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-name: rotate;

}





/* full responsive  */

.divCarrusel {
    font-size: 21px;
}

.divCarruselH {
    font-size: 28px;
}

@media screen and (max-width:992px) {
    .imagenbuho1 {
        width: 50%;
        margin-top: 10%;
    }

    .tamañoPrincipal {
        width: 70%;
        margin-left: 15%;
    }

    .parrafoBienvenida {
        font-size: 16px;
    }

    .tituloPrincipal {
        font-size: 23px;
    }

    .divBotonPrincipal {
        font-size: 20px;
    }
}

@media screen and (max-width:850px) {

    .tamañoCarrusel {
        width: 500px;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .divCarrusel {
        font-size: 16px;
    }

    .divCarruselH {
        font-size: 20px;
    }

    p.video {
        font-size: 20px;
    }
}

@media screen and (max-width:770px) {

    .imgGaleria:hover {

        animation-name: none;
        animation-duration: 2s;
        animation-delay: 500ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    
    }

    .d-none {
        display: inline-block !important;
    }

    

    .historia1 {
        height: 80%;
    }

    .listadoHistoria {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "historia1"
            "historia2"
            "historia3"
            "historia4"
        ;
    }

    .contTexto {
        width: 95%;
        margin: 15px;

    }

    .videoHistoria {
        margin: 25px;

    }

    .historia1 {
        place-self: center;
    }

    .historia3 {
        place-self: center;
    }

    /* haciendo galeria responsive  */


    a {
        font-size: 1rem;
    }

    .listadoImagenes {
        grid-template-columns: 95%;
        grid-template-areas:
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5"
            "foto6"
            "foto7"
            "foto8"
            "foto9"
            "foto10"
            "foto11"
            "foto12"
        ;
    }

    .divH1 {
        font-size: 1.5rem;
        text-align: left;
    }

    p.galeriaTexto {
        font-size: 1.5rem;
    }

    /* Agregando grids para productos responsive */
    p.video {
        font-size: 20px;
        width: 90%;
        margin: 20px;
    }

    .divH1 {
        height: 42px;
        font-size: 2rem;
        text-align: center;
    }

    .imagenProducto {

        width: 200px;
        margin: 0;
        margin-top: 10px;
    }

    .contenedorImg {
        width: 200px;
    }

    .conTexProd {
        margin: 0;
        padding: 0;
    }

    .img1 {
        place-self: center;
        grid-area: img1;
    }

    .img2 {
        place-self: center;
        grid-area: img2;
    }

    .img3 {
        place-self: center;
        grid-area: img3;
    }

    .img4 {
        place-self: center;
        grid-area: img4;
    }

    .texto1 {
        grid-area: texto1;
    }

    .texto2 {
        grid-area: texto2;
    }

    .texto3 {
        grid-area: texto3;
    }

    .texto4 {
        grid-area: texto4;
    }

    .listadoProductos {
        display: grid;
        grid-template-columns: 95%;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "img1"
            "texto1"
            "img2"
            "texto2"
            "img3"
            "texto3"
            "img4"
            "texto4";
    }

    a:hover {
        color: rgb(255, 112, 112);
        font-size: 1.1rem;
    }

}


@media screen and (max-width:590px) {
    .footer {
        display: none;
    }

    .tamañoCarrusel {
        font-size: 16px;
        width: 300px;
        /* margin-left: 23.5%; */
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .historia1 {
        height: 60%;
    }

    .divCarrusel {
        display: none;
    }

    .contenidoPrincipalElemento {
        font-size: 20px;
    }

    .imagenbuho1 {
        width: 85%;
    }

    .tamañoPrincipal {
        width: 95%;
        margin-left: 0;
        margin-top: 25px;
    }

    .tituloPrincipal {
        font-size: 21px;
    }

    .botonPrincipal {
        font-size: 16px;
    }
}


@media screen and (max-width:450px) {
    .contenidoPrincipalElemento {
        font-size: 16px;
    }

    .logoKon {
        display: none;
    }

    .contenidoPrincipal {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "index1"
            "index2"
            "index3";
    }

}

@media screen and (max-width:400px) {
    .tamañoCarrusel {
        width: 200px;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .divCarruselH {
        font-size: 16px;
    }

    .historia1 {
        width: 150px;
        height: 300px;
    }

    .historia1 {
        display: none;
    }

    p.historiaTexto {
        font-size: 16px;
    }

    .contTexto {
        width: 85%;
        margin: 10px;

    }

    .historia3 {
        display: none;
    }

    .listadoHistoria {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "historia2""historia4";

    }

    p.galeriaTexto {
        font-size: 16px;
    }

    .comentarios {
        font-size: 30px;
    }

    .comentarios {
        font-size: 25px;
    }
}