@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.45);
    }
}


@keyframes zoom1 {
    0% {
        transform: scale(0.6)
    }

    100% {
        transform: scale(1.2);
    }

}


@keyframes rotate {
    0% {
        transform: rotate(350deg);
    }

    50% {
        transform: rotate(365deg);
    }

    100% {
        transform: rotate(350deg);
    }
}