
/* RESET */
* {
    margin: 0;
    Padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

.inicio {
    font-size: 21px;
    color: $color-texto;
    font-family: 'Lobster', cursive;
    text-align: left;
    text-decoration: none;

    &:hover {
        color: rgb(92, 238, 238);
    }


}



div.mainIndex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .contacto {
        color: rgb(255, 255, 255);
        text-transform: capitalize;
        font-size: 25px;
        // font-family: 'Rubik Microbe', cursive;
        font-family: 'Kaushan Script', cursive;
        place-self: center;
        text-shadow: 3px 4px 4px black;
    }

    .comentarios {
        color: #FFE3FE;
        text-transform: capitalize;
        font-size: 45px;
        font-family: 'Rubik Microbe', cursive;

    }

    .loadingText {
        color: aliceblue;
    }

    div.tamañoCarrusel {
        width: 700px;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .contenidoPrincipal {
        margin-bottom: 35px;
        height: auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1fr 0.8fr 1fr;
        grid-template-areas:
            "index1"
            "index2"
            "index3"
            "index4"
        ;
        box-shadow: 30px 27px 16px rgba(0, 0, 0, 0.779);
        text-shadow: 2px 2px 2px black;
        border-radius: 25px;
        padding-top: 15px;
        border: 3px rgba(0, 0, 0, 0.532) solid;
        margin-top: 15px;
        background-image: url(../img/fondo-index-png.png);
        background-repeat: no-repeat;
        background-size: cover;

        .index1 {
            grid-area: index1;
        }

        .index2 {
            grid-area: index2;
        }

        .index3 {
            grid-area: index3;
        }

        .index4 {
            grid-area: index4;
        }

        // .index5 {
        //     grid-area: index5;
        // }

        .contenidoPrincipalElemento {
            display: inline-block;
            padding: 30px 30px 15px 10px;
            color: rgb(231, 204, 245);
            font-size: 25px;
            text-transform: capitalize;
            text-align: center;
            line-height: 55px;
            font-family: 'Kaushan Script', cursive;
            font-style: oblique;
            line-height: inherit;
            place-self: center;
        }

        img.logoKon {
            width: 350px;
            height: 300px;

        }

    }

    .botonInicio {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 35px 10px 0px 10px;
        padding-right: 20px;


    }

    .listadoHistoria {
        margin-bottom: 35px;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "historia1 historia2"
            "historia3 historia4"
        ;

        .historia1 {
            grid-area: historia1;
        }

        .historia2 {
            grid-area: historia2;
            height: 400px;
            width: 85%;
            margin-top: 10%;
            margin-left: 12%;



        }

        // .historiaTexto {
        //     font-size: 20px;
        //     font-family: 'Kaushan Script', cursive;
        //     color: blanchedalmond;
        //     font-weight: bold;
        //     line-height: 50px;

        // }

        .historia3 {
            grid-area: historia3;

        }

        .historia4 {
            grid-area: historia4;
            height: 400px;
            width: 85%;
            margin-top: 10%;
            margin-left: 12%;

        }

    }

    .listadoProductos {
        margin-bottom: 35px;
        height: auto;
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "img1 texto1 "
            "texto2 img2"
            "img3 texto3 "
            "texto4 img4";
        align-items: center;

        .imagenProducto {
            width: 45%;
            margin-top: 60px;
            margin-left: 150px;
            border-radius: 35px;
            place-self: center;
        }

        .videoTitulo {
            color: rgb(255, 220, 220);
            font-size: 25px;
            font-weight: bold;
            line-height: inherit;
            font-family: 'Kaushan Script', cursive;
            text-align: center;
            width: 85%;
            margin: 20px;        }

    }

    .listadoImagenes {
        margin-top: 65px;
        margin-bottom: 65px;
        z-index: 2;
        display: grid;
        width: 70%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 290px);
        grid-template-areas:
            "foto1 foto1 foto4"
            "foto3 foto2 foto4"
            "foto6 foto5 foto5"
            "foto6 foto10 foto7"
            "foto9 foto10 foto12"
            "foto11 foto8 foto8";
        gap: 55px;

        a.foto1 {
            grid-area: foto1;
        }

        a.foto2 {
            grid-area: foto2;
        }

        a.foto3 {
            grid-area: foto3;
        }

        a.foto4 {
            grid-area: foto4;
        }

        a.foto5 {
            grid-area: foto5;
        }

        a.foto6 {
            grid-area: foto6;
        }

        a.foto7 {
            grid-area: foto7;
        }

        a.foto8 {
            grid-area: foto8;
        }

        a.foto9 {
            grid-area: foto9;
        }

        a.foto10 {
            grid-area: foto10;
        }

        a.foto11 {
            grid-area: foto11;
        }

        a.foto12 {
            grid-area: foto12;
        }
    }

    .galeriaTexto {
        font-size: 37px;
        font-family: 'Kaushan Script', cursive;
        color: rgb(207, 185, 248);
        font-weight: bold;
        padding-top: 45px;
        text-shadow: 4px -2px 5px black;
    }

    .bordesFormulario {
        border-radius: 40px;
        box-shadow: 10px 5px 5px rgb(136, 89, 243);
        margin-top: 18px;
        font-family: 'Macondo', cursive;
        font-size: 18px;

        &:focus {
            background-color: rgb(145, 205, 245);
            box-shadow: 5px 5px 5px rgb(65, 174, 247);
        }
    }

   

    .botonEnviar {
        border-radius: 25px;
        box-shadow: 5px 5px 5px rgb(136, 89, 243);
        margin-bottom: 100px;
        padding: 5px 10px;
        font-family: 'Macondo', cursive;

        &:focus {
            background-color: rgb(145, 205, 245);
            box-shadow: 5px 5px 5px rgb(65, 174, 247);
        }
    }


}

.imgGaleria {
    width: 100%;
    height: 100%;
    box-shadow: 15px 15px 10px rgba(28, 78, 52, 0.7);
    border: 5px whitesmoke solid;
    border-radius: 20px;

    &:hover {

        animation-name: zoom;
        animation-duration: 2s;
        animation-delay: 500ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

    }
}

.videoHistoria {
    height: 80%;
    margin: 17% 0% 2% 15%;

}


.divPrincipal {
    margin: 12%;
    margin-top: 17%;
    display: flex;
    justify-content: center;

    .animacionBuho {
        transition: all 250ms;
        animation-iteration-count: infinite;
        animation-duration: 12s;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        animation-name: rotate;

        .imagenbuho1 {
            width: 80%;
        }
    }
}



.tamañoPrincipal {
    width: 35%;
    margin-right: 10%;
    text-align: -webkit-center;

    .tituloPrincipal {
        color: $color-texto;
        font-family: 'Macondo', cursive;
        font-size: 35px - 5px;
        text-align: center;
        font-weight: bold;
    }

    .parrafoBienvenida {
        color: $color-texto;
        font-size: 20px;
        font-family: 'Lobster', cursive;
        text-align: center;
    }

    .botonPrincipal {
        background-color: rgba(220, 107, 243, 0.5);
        border-color: rgba(137, 43, 226, 0);
        font-family: 'Macondo', cursive;
        font-size: 20px;
        font-weight: bold;

        .bloque {
            display: block;
            width: fit-content;
        }
    }

    .imagenLogo2 {
        width: 17%;
    }
}

